* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Tersedia{
    font-size:20px;
    padding-top:2rem;
    padding-left:2rem;
}

.ImgNode, .ImgLaravel, .ImgC, .ImgJS{
    width:250px;
    height:200px;
    object-fit:cover;
    margin-top:20px;
    margin-bottom:10px;
}

.Title-Study{
    text-align:left;
    font-size:19px;
    font-weight:700;
    margin-left:15px;
    margin-bottom:5px;
}

.Made{
    text-align:left;
    margin-left:15px;
}

.Rate-Text{
    font-size:17px;
    margin-right:5px;
    font-weight:400;
}

.Rate{
    display:flex;
    margin-left:15px;
    margin-top:5px;
}

.star {
    width: 18px;
    margin-right: 5px;
}

.WrapperClass{
    background-color:aliceblue;
    width:280px;
    text-align:center;
    border-radius:15px;
    height:400px;
}

.WrapperAllClass{
    display:flex;
    justify-content:space-around;
    margin-top:2%;
}

main{
    height:80vh;
}

.BtnBuy {
    border: none;
    font-size: 20px;
    font-weight: 800;
    color: #DDDDDD;
    background-color: #007580;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-top: 39px;
    cursor:pointer;
}
.BtnBuy:hover {
    opacity:0.7;
}